/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* main #3778c2
second #5fb523
text #434b54 */

.splash {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}

.splash-title {
  font-family: proxima-nova, sans-serif;
  font-style: bold;
  font-weight: 100;
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  font-style: italic;
}

.splash-buttons-container {
  display: flex;
  flex-direction: column;
}

.splash-button {
  background-color: white;
  width: 90vw;
  color: #434b54;
  font-size: 14px;
  padding: 11px;
  border: none;
  border-radius: 3px;
}

.splash-button:hover {
  background-color: #3778c2;
  color: white;
}