/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* main #3778c2
second #5fb523
text #434b54 */

.splash {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: rgb(243, 243, 243);
  margin: -8px;
}

.splash-title {
  font-family: proxima-nova, sans-serif;
  font-style: bold;
  font-weight: 100;
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  font-style: italic;
}

.splash-buttons-container {
  display: flex;
  flex-direction: column;
}

.splash-button {
  background-color: rgb(243, 243, 243);
  width: 90vw;
  color: #434b54;
  font-size: 14px;
  padding: 11px;
  border: none;
  border-radius: 3px;
}

.splash-button:hover {
  background-color: #3778c2;
  color: white;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: -8px;
  font-family: proxima-nova, sans-serif;
  color: #434b54;
  background-color: rgb(243, 243, 243);
}

.signup-header,
.login-header {
  background-color: #3778c2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.back-arrow {
  width: 25px;
  height: auto;
}

.back-arrow-img {
  width: 100%;
  height: auto;
}

.submit-next,
.submit-login {
  background-color: #3778c2;
  color: white;
  border: none;
}

.profile-container {
  display: flex;
  background-color: white;
  margin-top: 15px;
  padding: 15px;
}

.profile-picture {
  width: 45px;
  height: auto;
}

.profile-container p{
  margin-left: 8px;
}

.profile-picture-img {
  width: 100%;
  height: auto;
}

.field {
  border-top: rgb(243, 243, 243) ;
  display: flex;
  padding-left: 15px;
  background-color: white;
}

.registration-field,
.login-field {
  border: none;
  flex-grow: 1;
  border-top: 2px solid rgb(243, 243, 243);
  padding: 10px;
}
.field-name-login {
  display: flex;
  background-color: white;
  margin-top: 15px;
  padding-left: 15px;
}

.forgot-dummy {
  text-align: center;
}

